# Django Core
Django==5.0.6

# Database Driver (Required for MySQL)
mysqlclient==2.2.4

# API Framework & Auth
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1

drf-nested-routers==0.93.5

# Utilities used in settings/views
requests==2.31.0
python-dotenv==1.0.1


